header{
    background: linear-gradient(to right, #0d6efd, #0a58ca);
    /*background: linear-gradient(to right, white, #e7eefa);*/
    /*box-shadow: 0px 0px 8px 4px #0000007a;*/
    padding-top: 10px;
    padding-bottom: 10px;
    width: 80%;
    margin-left: 10%;
}
header .nav-link{
    color: black;
}
header #header-main-cover{

}

/*home-page //////////////////////*/
#admin-home-page{
    height: 90vh;
    background-image: url(../../resources/image/home-bg.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

/*admin-customer //////////////////////////////////*/
#admin-customer-page{
    display: none;
}
#admin-customer-page #customer-content{
    box-shadow: 0px 0px 8px 1px #0000007a;
    width: 90%;
}
#admin-customer-page #right-content{
    box-shadow: 0px 0px 8px 1px #0000007a;
}

/*admin-employee //////////////////////////////////*/
#admin-employee-page{
    display: none;
}
#admin-employee-page #employee-content{
    box-shadow: 0px 0px 8px 1px #0000007a;
    width: 90%;
}
#admin-employee-page #employee-up-content{
    box-shadow: 0px 0px 8px 1px #0000007a;
}

#admin-employee-page #employee-pro-pic-div{
    box-shadow: 0px 0px 2px 0.1px #0000007a;
    width: 100px;
    height: 100px;
    border-radius: 1.4em;
    padding: 0;
}

/*admin-supplier //////////////////////////////////*/
#admin-supplier-page{
    display: none;
}
#admin-supplier-page #supplier-content{
    box-shadow: 0px 0px 8px 1px #0000007a;
    width: 90%;
}
#admin-supplier-page #supplier-up-content{
    box-shadow: 0px 0px 8px 1px #0000007a;
}

/*admin-item //////////////////////////////////*/
#admin-item-page{
    display: none;
}
#admin-item-page #item-content{
    box-shadow: 0px 0px 8px 1px #0000007a;
    width: 90%;
}
#admin-item-page #item-up-content{
    box-shadow: 0px 0px 8px 1px #0000007a;
}

#admin-item-page #item-pic-div{
    box-shadow: 0px 0px 2px 0.1px #0000007a;
    width: 100px;
    height: 100px;
    border-radius: 1.4em;
    padding: 0;
}

/*admin-item //////////////////////////////////*/
#admin-product-page{
    display: none;
}
#admin-product-page #product-content{
    box-shadow: 0px 0px 8px 1px #0000007a;
    width: 90%;
}
#admin-product-page #product-up-content{
    box-shadow: 0px 0px 8px 1px #0000007a;
}

/*#admin-item-page #item-pic-div{
    box-shadow: 0px 0px 2px 0.1px #0000007a;
    width: 100px;
    height: 100px;
    border-radius: 1.4em;
    padding: 0;
}*/

#admin-product-page #product-grid{
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 20px;
    row-gap: 20px;
    width: 95%;
}
.card-img-top{
    border-radius: 20px 20px 0px 0px;
}

#product-grid .card{
    border-radius: 1.4em;
    box-shadow: 0px 0px 2px 0.1px #0000007a;
    border: 2px solid rgb(206, 212, 218);
}

/*place-order ///////////////////////////*/
#admin-order-page{
    display: none;
}
#admin-order-page #content{
    box-shadow: 0px 0px 8px 1px #0000007a;
    width: 95%;
}
#admin-order-page #right-content{
    box-shadow: 0px 0px 8px 1px #0000007a;
}
#admin-order-page #invoice-details{
    box-shadow: 0px 0px 8px 1px #0000007a;
}
#admin-order-page #item-details{
    box-shadow: 0px 0px 8px 1px #0000007a;
}
#admin-order-page #amount-details{
    box-shadow: 0px 0px 8px 1px #0000007a;
}
#admin-order-page #btnAddToCart{
    margin-right: 200px;
}

/*order-detail ///////////////////////////*/
#order-detail-page{
    display: none;
}
#order-detail-page #order-detail-content{
    box-shadow: 0px 0px 8px 1px #0000007a;
    width: 90%;
}

#order-detail-page .btn-refund {
    border: 1px solid red;
    border-radius: 10px;
    background-color: white;
    padding: 2px 10px; /* Optional: Add some padding for better appearance */
    color: red;
    cursor: pointer; /* Optional: Change cursor to pointer to indicate clickability */
}

#order-detail-page .btn-refund:hover {
    background-color: red; /* Optional: Change background color on hover */
    color: white; /* Optional: Change text color on hover */
}